/* 自定义字体 */
@font-face {
  font-family: 'STKaiti';
  /*src: url('https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/sleek.woff2');*/
}
.card-archive-list a:hover{
  background-color: rgb(0, 196, 182) !important;
}
/* 目录隐藏按钮颜色 */
#toggle-sidebar {
  color: #e58a8a !important;
}
#nav .show{
  position: fixed;
  left: 0;
  top: 0;
}
/*新页面背景*/
#page-header{
  background-color: rgb(0, 196, 182) !important;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}
/*#footer-wrap{*/
/*  background-color: rgb(0, 196, 182) !important;*/

/*}*/
/* 首页中间打字效果上方 */
#page-header #site_title {
  color: #80bdab;
}
/* 顶部导航栏 */
#nav a {
  color: #f9f2f4;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
  color: #dbe8e7;
}
/*页脚字体颜色*/
.framework-info ,
.copyright {
  color: rgb(244, 244, 250);
}
.footer_custom_text{
  color: rgba(143, 212, 229, 0.65);
}


/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/
@media screen and (max-width: 800px) {
  #aside_content div:not(:last-child) {
    display: none;
    font-size: 13px;
  }
}
/*右侧名字*/
.author-info__name {
  color: #ff7242;
}
/*右侧关注栏按钮颜色*/
#card-info-btn{
  background-color: rgb(0, 196, 182) !important;
}

/*返回顶部*/
#go-up,
#rightside_config
{
  background-color: rgb(0, 196, 182) !important;
}
/* 滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10%;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 196, 182) !important;
}

/*::-webkit-scrollbar-corner {*/
/*  background-color: transparent;*/
/*}*/
::-moz-selection {
  color: #fff;
  background-color: #e58a8a;
}

#recent-posts{
  width: 80%;
}
